.idea
.env
data/
requests/
code/logs

# Byte-compiled / optimized / DLL files
code/__pycache__/
code/*.py[cod]
code/*$py.class
code/spiders/__pycache__/
code/spiders/*.py[cod]
code/spiders/*$py.class

# Daryn's toys
venv/
myvenv/
.DS_Store
code/.DS_Store
code/spiders/.DS_Store

# C extensions
code/*.so
code/spiders/*.so

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/
.pytest_cache/

# Scrapy stuff:
code/.scrapy

# Sphinx documentation
docs/_build/

# celery beat schedule file
celerybeat-schedule

# mkdocs documentation
site
