.idea
.env
data/
requests/
app/logs

# Byte-compiled / optimized / DLL files
app/__pycache__/
code/*.py[cod]
app/*$py.class
app/spiders/__pycache__/
code/spiders/*.py[cod]
app/spiders/*$py.class

# Daryn's toys
venv/
myvenv/
.DS_Store
app/.DS_Store
app/spiders/.DS_Store

# C extensions
code/*.so
code/spiders/*.so

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/
.pytest_cache/

# Scrapy stuff:
app/.scrapy

# Sphinx documentation
docs/_build/

# celery beat schedule file
celerybeat-schedule

# mkdocs documentation
site
