[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
scrapy = "*"
python-decouple = "*"
flake8 = "*"

[requires]
python_version = "3.7"

[scripts]
flake1 = "flake8 . --count --select=E9,F63,F7,F82 --show-source --statistics"
flake2 = "flake8 . --count --exit-zero --max-complexity=10 --max-line-length=127 --statistics"
